# Created by .ignore support plugin (hsz.mobi)
.idea/HelloPHP.iml
.idea/copyright/
.idea/dictionaries/
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/php.xml
.idea/workspace.xml
introducingphp/ch10/10_01/begin/
introducingphp/ch10/10_02/begin/
introducingphp/ch10/10_03/begin/
introducingphp/ch10/10_04/begin/
introducingphp/ch10/10_05/begin/
introducingphp/ch10/10_06/begin/
